C:UsersthabeOneDriveDocumentspython_sampleEQ_timeseries_1.cdv filter=lfs diff=lfs merge=lfs -text
C:UsersthabeOneDriveDocumentspython_sampleEQ_timeseries_1.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/thabe/OneDrive/Documents/python_sample/EQ_timeseries_1.csv filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
EQ_timeseries_1.csv filter=lfs diff=lfs merge=lfs -text
